.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.connectButton {
  color: #333;
  cursor: pointer;
  margin-top: 16px;
  padding: 12px 16px;
  border: 0;
  border-radius: 5px;
  background-color: #ccc;
}

.waveButton {
  color: #fff;
  cursor: pointer;
  margin-top: 16px;
  padding: 12px 16px;
  border: 0;
  border-radius: 5px;
  background-color: navy;
}

.walletAddress {
  color: #333;
  margin-top: 32px;
  padding: 12px 16px;
  border: 0;
  border-radius: 5px;
  background-color: #ccc;
}